root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.{md,markdown}]
# Zeilenumbrüche am Zeilenende sind in Markdown bedeutungstragend
trim_trailing_whitespace = false

[*.{js,json,yml,yaml,html,part}]
indent_size = 2

[Makefile]
indent_style = tab

[*.{csv,cff}]
indent_size = 2
